*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
 .fixedwidth{
    width: 900px;
    height: auto;
    text-align: center;
    margin: 40px auto;
}
img{
    min-width: 100%;
}
.header{
    background-color: #34495e;
    padding:30px 100px;
}
.headertext{
    color: #eae4e4;
    font-size: 30px;

}
.container{
    background-color: #0d6efd;
    padding: 40px 80px 50px 80px;
}
p{
    color: #18499d;
}
 
.footer{
     background-color: #198754;
     padding: 10px 80px;
}
.footertext{
    color: #1f302e;
    font-size: 30px;
}

